* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
  font-family: "News Cycle";
  font-size: 17px;
}
.clear {
  clear: both;
}
header {
  height: 100px;
  background-color: #eeeeee;
}
header h1 {
  display: inline-block;
  width: 110px;
  font-size: 2em;
  line-height: 89px;
}
nav {
  width: 1000px;
  margin: auto;
}
.menu {
  list-style-type: none;
  display: inline-block;
  float: right;
  padding: 35px 0;
}
.menu li {
  display: inline-block;
  padding-left: 44px
}
.menu li a {
  text-decoration: none;
  color: #435452;
}
.menu li a:hover {
  color: #27AE61;
}
button {
  border-style: none;
  width: 265px;
  height: 70px;
  border-radius: 5px;
  letter-spacing : 3px;
  text-decoration: none;
  margin-top: 70px;
}
.section1 {
  height: 825px;
  background-color: #27AE61;
  background-image: url(images/banner.png);
  background-size: cover;
}
.photo {
  padding-top: 120px;
  padding-bottom: 70px;
  text-align: center;
}
.portrait {
  margin-left: 22px;
  margin-right: 22px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.section1 h1 {
  font-size: 55px;
  color: white;
}
.section1 h2 {
  font-size: 22px;
  color:  rgba(255,255,255,.8);
}
.section1 p {
  color:  rgba(255,255,255,.8);
}
.section1 div, .section2 div, .section3 div {
  width: 1000px;
  margin: auto;
  text-align: center;
}
.section1 button {
  background-color: #2b3f48;
}
.section1 button a {
  text-decoration: none;
  color: white;
}
.section2 {
  height: 615px;
  background-color: #eeeeee;
}
.section2 h1 {
  font-size: 55px;
  padding-top: 95px;
}
.section1 h2, .section2 h2, .section3 h2 {
  font-size: 22px;
  padding-top: 10px;
}
.section1 p, .section2 p, .section3 p {
  padding-top: 50px;
}
.section2 button {
  background-color: #27ae61;
}
.section2 button a {
  text-decoration: none;
  color: rgba(255,255,255,.8);
}
.section3 {
  height: 605px;
  background-color: #27ae61;
  color:rgba(255,255,255,.8);
}
.section3 h1 {
  color: white;
  font-size: 55px;
  padding-top: 95px;
}
.section3 button {
  background-color: white;
  color: #27ae61;
}
.section3  a {
  color: white;
}
.section3 button a {
  text-decoration: none;
  color: #27ae61;
}
footer {
  height: 205px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 90px;
}
footer p {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
